html {
    height: 100%;
}

body {
    height: calc(100vh - 164px);
    /* background-color:#c6aaa0; */
    color: #555;
    font-family: 'Roboto', sans-serif;
}

.hero {
    background: url('/media/Milestone project Hero Image.png') no-repeat center center fixed;
    background-size: cover;
    height: calc(100vh - 164px);
    color: #555;
    font-family: 'Roboto', sans-serif;
}

/* from Bulma */
.icon {
    align-items: center;
    display: inline-flex;
    justify-content: center;
    height: 1.5rem;
    width: 1.5rem;
}

.logo-font {
    text-transform: uppercase;
    color: #0f161f;
}

.logo-font-white {
    text-transform: uppercase;
    color: white;
}

.main-logo-link {
    width: fit-content;
}

.shop-now-button {
    background:white;
    color: #0f161f;
    min-width: 260px;
}

.shop-now-button-brown {
    background: #88583d;
    color:white;
    min-width: 260px;
}

.update-link,
.remove-item {
    cursor: pointer;
}

.btn-black {
    background: #0f161f;
    color: white;
}

.btn-brown {
    background: #88583d;
    color: white;
}

.btn-white {
    background: white;
    color: #88583d;
}

.btn-white:hover,
.btn-white:active,
.btn-white:focus,
.shop-now-button:hover,
.shop-now-button:active,
.shop-now-button:focus,
.btn-black:hover,
.btn-black:active,
.btn-black:focus {
    background: #88583d;
    color: white;
}

.shop-now-button-brown:hover,
.shop-now-button-brown:active,
.shop-now-button-brown:focus {
    background:#b28262;
    color: white;
}

.btn-brown:hover,
.btn-brown:active,
.btn-brown:focus {
    background:#b28262;
    color: white;
}

.btn-outline-brown {
    background: rgba(255, 255, 255, 0);
    color:  #88583d !important; /* use important to override link colors for <a> elements */
    border: 1px solid  #88583d;
}

.btn-outline-brown:hover,
.btn-outline-brown:active,
.btn-outline-brown:focus {
    background: white;
    color: #88583d !important;
}

.text-pink {
    color:#c6aaa0 !important;
}

.text-brown {
    color: #88583d;
}

.text-black {
    color:#0f161f !important;
}

.text-brown:hover,
.text-brown:active,
.text-brown:focus {
    color:#b28262;
}

.card-white-sm {
    padding: 4px, 2px;
    background-color: white;
    border-radius: 2px;
    max-width: 75px;
}

.text-gold {
    color: goldenrod !important;
}

.text-gold:hover,
.text-gold:active,
.text-gold:focus {
    color:goldenrod !important;
}
.border-black {
    border: 1px solid#0f161f !important;
}

.border-brown {
    border: 1px solid #88583d !important;
}

.bg-brown {
    background: #88583d;
}

.card {
    color: white;
    background-color:#c6aaa0;
    border-radius: 4px;
    overflow: hidden;
}

.retreat-details-container {
    padding: 20px;
}

/* ------------------------------- bootstrap toasts */

.message-container {
    position: fixed;
    top: 72px;
    right: 15px;
    z-index: 99999999999;
}

.custom-toast {
    overflow: visible;
}

.toast-capper {
    height: 2px;
}


/* ---------------------------Make images Square */
.image{
    position:relative;
    overflow:hidden;
    padding-bottom:100%;
}
.image img{
      position: absolute;
      max-height: 100%;
      top: 50%;
      left: 50%;
      transform: translateX(-50%) translateY(-50%);
}

.card-img-top {
    width: auto;
}
/* -------------------------------- Media Queries */

/* Slightly larger container on xl screens */
@media (min-width: 1200px) {
  .container {
    max-width: 80%;
  }
}

/* fixed top navbar only on medium and up */
@media (min-width: 992px) {
    .fixed-top-desktop-only {
        position: fixed;
        top: 0;
        right: 0;
        left: 0;
        z-index: 1030;
    }

    .header-container {
        padding-top: 164px;
    }

}

/* mobile hero section */
@media (max-width: 992px){
    .hero {
    background: url('/media/Milestone project Hero Image.png') no-repeat center center fixed;
    background-size: cover;
    height: calc(100vh);
    width: 100%;
    color: #555;
    font-family: 'Roboto', sans-serif;
}

/* navlinks on mobile */
@media (max-width: 479px) {
    .nav-link {
        font-size: 10px !important;
    }
}

/* pad the top a bit when navbar is collapsed on mobile */
@media (max-width: 991px) {
    .header-container {
        padding-top: 116px;
    }

    body {
        height: calc(100vh - 116px);
    }
}