<div class="collapse navbar-collapse" id="main-nav">
    <ul class="navbar-nav w-auto mx-auto">
        <li class="nav-item dropdown">
            <a class="logo-font font-weight-bold nav-link text-black mr-5" href="#" id="membership-link" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Reviews
            </a>
            <div class="dropdown-menu border-0" aria-labelledby="membership-link">
                <a href="{% url 'reviews' %}" class="dropdown-item">What people say</a>
                <a href="" class="dropdown-item ">Leave a Review</a>                
            </div>
        </li>

        <li class="nav-item dropdown">
            <a class="logo-font font-weight-bold nav-link text-black mr-5" href="#" id="retreats-link" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Retreats
            </a>
            <div class="dropdown-menu border-0" aria-labelledby="retreats-link">
                <a href="{% url 'retreats' %}?category=yoga" class="dropdown-item">Yoga</a>
                <a href="{% url 'retreats' %}?category=meditation" class="dropdown-item">Meditation</a>
                <a href="{% url 'retreats' %}?category=surf_yoga" class="dropdown-item">Yoga and Surf</a>
                 <a href="{% url 'retreats' %}" class="dropdown-item">All Retreats</a>
            </div>
        </li>

        <li class="nav-item dropdown">
            <a class="logo-font font-weight-bold nav-link text-black mr-5" href="#" id="yoga-classes-link" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Yoga Classes
            </a>
            <div class="dropdown-menu border-0" aria-labelledby="yoga-classes-link">
                <a href="" class="dropdown-item">Online Yoga Classes</a>
                <a href="" class="dropdown-item">One on One Yoga Classes</a>
                <a href="{% url 'classes' %}" class="dropdown-item">Timetable Yoga Classes</a>
            </div>
        </li>

        <li class="nav-item dropdown">
            <a class="logo-font font-weight-bold nav-link text-black" href="#" id="contact-link" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Contact
            </a>
            <div class="dropdown-menu border-0" aria-labelledby="contact-link">
                <a href="" class="dropdown-item">Email</a>
                <a href="" class="dropdown-item">Whatsapp</a>
                <a href="" class="dropdown-item">Facebook Chat</a>
                <a href="" class="dropdown-item">Enquiry Form</a>
            </div>
        </li>
    </ul>
</div>