{% extends "base.html" %}
{% load static %}

{% block page_header %}
<div class="container header-container">
	<div class="row">
		<div class="col"></div>
	</div>
</div>
{% endblock %}

{% block content %}
<div class="container-fluid">
    <div class="row">
        <div class="col text-center mt-3">
            <h2 class="logo-font">Yoga Classes</h2>
            <hr class="w-50 mb-1">
        </div>
    </div>
     <div class="row">
        <div class="retreat-container col-10 offset-1">
            <div class="row mt-1 mb-2"></div>
            <div class="row">
             <!-- Monday timetable col                    -->   
                <div class="col-sm-6 col-md-6 col-lg-2 col-xl-2">                                          
                    <h6 class="logo-font">Monday</h6>
                {% for class in classes %}      
                    {% if class.day == "1"%}       
                    <div class="col pl-0 pr-0 pb-5">                       
                        <div class="card h-100 border-0">
                            <div class="card-body pb-0">
                                <p class="mb-0">{{ class.time.time }}</p>
                                <p class="mb-0">{{ class.name }}</p>
                            </div>
                            <div class="card-footer pt-0 border-0 text-left">
                                <div class="">
                                    <div class="col">
                                        <p class="lead mb-0 font-weight-bold">${{ class.price }}</p>
                                        {% if class.dificulty %}
                                        <div class="card-white-sm">
                                            <small class="text-gold"><i class="fas fa-running mr-1"></i>{{ class.dificulty }} / 5</small>
                                        </div>
                                        {% else %}
                                            <small class="text-gold">No dificulty</small>
                                        {% endif %}  
                                        <p class="mb-0">{{ class.level }}</p> 
                                        <a class="btn btn-white" href="{% url 'class_detail' class.sku %}">Book Now</a>          
                                    </div>                                    
                                </div>
                            </div>
                        </div>
                    </div>   
                {% endif %}                                       
                {% endfor %}
                </div>
            <!-- End Monday timetable col                    -->   
            <!-- Tuesday timetable col                    -->   
                <div class="col-sm-6 col-md-6 col-lg-2 col-xl-2">                                          
                    <h6 class="logo-font">Tuesday</h6>
                {% for class in classes %}   
                {% if class.day == "2"%}             
                    <div class="col pl-0 pr-0 pb-5">                                              
                        <div class="card h-100 border-0">
                            <div class="card-body pb-0">
                                <p class="mb-0">{{ class.time.time }}</p>
                                <p class="mb-0">{{ class.name }}</p>
                            </div>
                            <div class="card-footer pt-0 border-0 text-left">
                                <div class="">
                                    <div class="col">
                                        <p class="lead mb-0 font-weight-bold">${{ class.price }}</p>
                                        {% if class.dificulty %}
                                        <div class="card-white-sm">
                                            <small class="text-gold"><i class="fas fa-running mr-1"></i>{{ class.dificulty }} / 5</small>
                                        </div>
                                        {% else %}
                                            <small class="text-gold">No dificulty</small>
                                        {% endif %}  
                                        <p class="mb-0">{{ class.level }}</p> 
                                        <a class="btn btn-white" href="{% url 'class_detail' class.sku %}">Book Now</a>          
                                    </div>                                    
                                </div>
                            </div>
                        </div>
                    </div>
                {% endif %}                                                             
                {% endfor %}
                </div>
            <!-- End Tuesday timetable col                    -->   
            <!-- Wednesday timetable col                    -->   
                <div class="col-sm-6 col-md-6 col-lg-2 col-xl-2">                                          
                    <h6 class="logo-font">Wednesday</h6>
                {% for class in classes %}   
                {% if class.day == "3"%}             
                    <div class="col pl-0 pr-0 pb-5">                                              
                        <div class="card h-100 border-0">
                            <div class="card-body pb-0">
                                <p class="mb-0">{{ class.time.time }}</p>
                                <p class="mb-0">{{ class.name }}</p>
                            </div>
                            <div class="card-footer pt-0 border-0 text-left">
                                <div class="">
                                    <div class="col">
                                        <p class="lead mb-0 font-weight-bold">${{ class.price }}</p>
                                        {% if class.dificulty %}
                                        <div class="card-white-sm">
                                            <small class="text-gold"><i class="fas fa-running mr-1"></i>{{ class.dificulty }} / 5</small>
                                        </div>
                                        {% else %}
                                            <small class="text-gold">No dificulty</small>
                                        {% endif %}  
                                        <p class="mb-0">{{ class.level }}</p> 
                                        <a class="btn btn-white" href="{% url 'class_detail' class.sku %}">Book Now</a>          
                                    </div>                                    
                                </div>
                            </div>
                        </div>
                    </div>
                {% endif %}                                                             
                {% endfor %}
                </div>
            <!-- End Wednesday timetable col                    -->  
            <!-- Thursday timetable col                    -->   
                <div class="col-sm-6 col-md-6 col-lg-2 col-xl-2">                                          
                    <h6 class="logo-font">Thursday</h6>
                {% for class in classes %}   
                {% if class.day == "4"%}             
                    <div class="col pl-0 pr-0 pb-5">                                              
                        <div class="card h-100 border-0">
                            <div class="card-body pb-0">
                                <p class="mb-0">{{ class.time.time }}</p>
                                <p class="mb-0">{{ class.name }}</p>
                            </div>
                            <div class="card-footer pt-0 border-0 text-left">
                                <div class="">
                                    <div class="col">
                                        <p class="lead mb-0 font-weight-bold">${{ class.price }}</p>
                                        {% if class.dificulty %}
                                        <div class="card-white-sm">
                                            <small class="text-gold"><i class="fas fa-running mr-1"></i>{{ class.dificulty }} / 5</small>
                                        </div>
                                        {% else %}
                                            <small class="text-gold">No dificulty</small>
                                        {% endif %}  
                                        <p class="mb-0">{{ class.level }}</p> 
                                        <a class="btn btn-white" href="{% url 'class_detail' class.sku %}">Book Now</a>          
                                    </div>                                    
                                </div>
                            </div>
                        </div>
                    </div>
                {% endif %}                                                             
                {% endfor %}
                </div>
            <!-- End Thursday timetable col                    -->  
            <!-- Friday timetable col                    -->   
                <div class="col-sm-6 col-md-6 col-lg-2 col-xl-2">                                          
                    <h6 class="logo-font">Friday</h6>
                {% for class in classes %}   
                {% if class.day == "5"%}             
                    <div class="col pl-0 pr-0 pb-5">                                              
                        <div class="card h-100 border-0">
                            <div class="card-body pb-0">
                                <p class="mb-0">{{ class.time.time }}</p>
                                <p class="mb-0">{{ class.name }}</p>
                            </div>
                            <div class="card-footer pt-0 border-0 text-left">
                                <div class="">
                                    <div class="col">
                                        <p class="lead mb-0 font-weight-bold">${{ class.price }}</p>
                                        {% if class.dificulty %}
                                        <div class="card-white-sm">
                                            <small class="text-gold"><i class="fas fa-running mr-1"></i>{{ class.dificulty }} / 5</small>
                                        </div>
                                        {% else %}
                                            <small class="text-gold">No dificulty</small>
                                        {% endif %}  
                                        <p class="mb-0">{{ class.level }}</p> 
                                        <a class="btn btn-white" href="{% url 'class_detail' class.sku %}">Book Now</a>          
                                    </div>                                    
                                </div>
                            </div>
                        </div>
                    </div>
                {% endif %}                                                             
                {% endfor %}
                </div>
            <!-- End Friday timetable col                    -->  
            <!-- Saturday timetable col                    -->   
                <div class="col-sm-6 col-md-6 col-lg-2 col-xl-2">                                          
                    <h6 class="logo-font">Saturday</h6>
                {% for class in classes %}   
                {% if class.day == "6"%}             
                    <div class="col pl-0 pr-0 pb-5">                                              
                        <div class="card h-100 border-0">
                            <div class="card-body pb-0">
                                <p class="mb-0">{{ class.time.time }}</p>
                                <p class="mb-0">{{ class.name }}</p>
                            </div>
                            <div class="card-footer pt-0 border-0 text-left">
                                <div class="">
                                    <div class="col">
                                        <p class="lead mb-0 font-weight-bold">${{ class.price }}</p>
                                        {% if class.dificulty %}
                                        <div class="card-white-sm">
                                            <small class="text-gold"><i class="fas fa-running mr-1"></i>{{ class.dificulty }} / 5</small>
                                        </div>
                                        {% else %}
                                            <small class="text-gold">No dificulty</small>
                                        {% endif %}  
                                        <p class="mb-0">{{ class.level }}</p> 
                                        <a class="btn btn-white" href="{% url 'class_detail' class.sku %}">Book Now</a>          
                                    </div>                                    
                                </div>
                            </div>
                        </div>
                    </div>
                {% endif %}                                                             
                {% endfor %}
                </div>
            <!-- End Saturday timetable col                    -->  
             
            </div>
        </div> 
    </div>
</div>


{% endblock %}